---
import { info } from "@data";
import bento  from "../../assets/bento.svg?raw";
import email  from "../../assets/email.svg?raw";
import github  from "../../assets/github.svg?raw";
import LinkItem from "./LinkItem.astro";
const { ...props } = Astro.props;
---

<footer
  class="container flex sm:flex-row flex-col justify-between items-center mb-8 sm:mb-4"
  {...props}
>
  <p class="dark:text-light text-right my-8">
    Improved by <strong>Edwin Olivo</strong>
  </p>
  <div class="grid grid-cols-3 gap-4">
    <LinkItem title="Bento" href={info.socialMedia.bento}>
      <Fragment set:html={bento}/>
    </LinkItem>
    <LinkItem title="GitHub" href={info.socialMedia.github}>
      <Fragment set:html={github}/>
    </LinkItem>
    <LinkItem title="Email" href={info.socialMedia.email}>
      <Fragment set:html={email}/>
    </LinkItem>
  </div>
</footer>
